/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/

/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(icomoon.css);
@import url(css/font-awesome.min.css);
@import url(meanmenu.css);
@import url(swiper.min.css);
@import url(slick.css);
@import url(jquery.fancybox.min.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

* {
  box-sizing: border-box !important;
  transition: ease all 0.5s;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(255, 144, 96);
  height: 100%;
  margin: 0;
  color: black;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  line-height: 1.80857;
  font-weight: normal;
  overflow-x: hidden;
}

ul,
li,
ol {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

a {
  color: #222222;
  text-decoration: none;
  outline: none !important;
}

img {
  max-width: 100%;
  height: auto;
  width: 450px;
  border-radius: 15px;
}

:focus {
  outline: 0;
}

/* header section start */

.header_section {
  margin: 0px;
  padding: 0;
  width: 100%;
  float: left;

  /* height:calc(100vh - 145px);  */

  background-size: 100%;
  background-repeat: no-repeat;
}

.header_bg {
  width: 100%;
  float: left;
  background-image: url(../images/man-3672010_1280.jpg);
  height: auto;
  background-size: 100%;
  background-repeat: no-repeat;
}

.header_bg .navbar-expand-lg .navbar-nav .nav-link {
  color: #ffffff;
}

.bg-light {
  background-color: transparent !important;
}

.mr-auto,
.mx-auto {
  margin: 0 auto;
  text-align: center;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 3px 10px;
  font-size: 20px;
  color: rgb(208, 125, 107);
  border-radius: 5px;
  text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #d07d6b;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: red;
}

.navbar-brand {
  margin: 0px;
  float: right;
  width: 155px;
}

img#brand {
  border-radius: 0px;
}

.navbar {
  padding: 15px 0px;
}

.user_icon {
  padding-right: 15px;
}

.login_bt {
  width: 210px;
}

.login_bt ul {
  margin: 0px;
  padding: 0px;
}

.login_bt li a {
  float: left;
  font-size: 18px;
  color: #d98473;
  text-transform: uppercase;
  padding: 0px 0px 0px 50px;
}

.login_bt li a:hover {
  color: #4c4c4c;
}

.card-body {
  padding: 2px;
}

.card {
  width: 120px;
}

.btn-group-sm > .btn,
.btn-sm {
  padding: 0.25rem 0.3rem;
  font-weight: 500px;
  font-size: 0.575rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

.col-12 {
  max-width: 100%;
}

/* footer section start */

footer {
  box-sizing: border-box;
  background: rgb(208, 125, 107);
}

.address_text {
  width: 100%;
  float: left;
  text-align: center;
  font-size: 30px;
  color: #fefefd;
  font-weight: bold;
  padding-bottom: 50px;
}

.footer_text {
  width: 60%;
  margin: 0 auto;
  font-size: 16px;
  color: #fefefd;
  text-align: center;
}

.location_text {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;
}

.location_text ul {
  margin: 0px;
  padding: 0px;
}

.location_text li {
  font-size: 16px;
  color: #ffffff;
  padding: 0px 0px 5px 0px;
}

.location_text li a {
  color: #ffffff;
}

.location_text li a:hover {
  color: #d07d6b;
}

.padding_left_10 {
  padding-left: 10px;
}

.social_icon {
  width: 100%;
  display: inline-block;
  text-align: center;
  margin-top: 10px;
}

.footer_social_icon {
  width: 100%;
  text-align: center;
}

.footer_social_icon ul {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
}

.footer_social_icon li {
  float: left;
}

.footer_social_icon ul li a {
  color: white;
  font-size: 24px;
}

.footer_social_icon li a:hover {
  background-color: #ffffff;
  color: #363636;
}

.footer_social_icon ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.sticky-footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
}

.boxRight {
  text-align: center;
}

.row {
  width: auto;
  margin-right: 0px;
  margin-left: 0px;
  text-align: center;
}

.update_mail {
  color: #3b3b3b;
  width: 100%;
  height: 55px;
  font-size: 18px;
  padding: 10px 20px 0px 20px;
  background-color: #efefef;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  display: block;
  margin-top: 20px;
  border: 0px;
}

textarea#comment.update_mail::placeholder {
  color: #3b3b3b;
}

.form-group {
  margin-bottom: 1rem;
  display: flex;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.subscribe_bt {
  width: 70px;
  float: left;
  padding-top: 20px;
}

.subscribe_bt a {
  width: 100%;
  float: left;
  color: #ffffff;
  font-size: 16px;
  padding: 13px 0px 14px 0px;
  background-color: #d07d6b;
  text-transform: uppercase;
  text-align: center;
}

.subscribe_bt a:hover {
  color: #363636;
  background-color: #d07d6b;
}

/* footer section end */

/* copyright section start */

.copyright_section {
  position: fixed;
  bottom: 0;
  width: 100%;
  float: left;
  background-color: #d07d6b;
  height: auto;
}

.copyright_text {
  width: auto;
  font-size: 10px;
  color: #ffffff;
  text-align: center;
  margin-left: 0px;
  margin-right: 0px;
  font-family: "Poppins", sans-serif;
}

.copyright_text a {
  color: #ffffff;
}

.copyright_text a:hover {
  color: #363636;
}

/* copyright section end */

.margin_top90 {
  margin-top: 90px;
}

@media only screen and (min-width: 280px) and (max-width: 599px) {
  body {
    width: auto;
    box-sizing: border-box;
    height: 100vh;
    overflow: hidden;
    /* background-color: #fb795f; */
  }

  .col-12 {
    max-width: 100%;
  }
}
