
  $dark: rgb(62, 55, 55);
  $danger:rgb(223, 166, 197);
  $secondary:linear-gradient(to right, pink, blue);

  // Ajoutez d'autres couleurs si nécessaire


.gallery  {
	border: solid white 2px;
    box-shadow: 0px 1px 20px 20px rgb(233 221 221 / 75%);
}

@import 'css/bootstrap.css';
@import 'node_modules/bootstrap/dist/css/bootstrap.css'
